#container{
    width:960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}


.divRow{
    display:flex;
    flex-direction: row;
    flex:1;
    
}

.subDiv{
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color:black;
    flex:1;
   
}