.divRow{
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.subDiv{
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color:black;
    width: 40px;
    height: 40px;
}