h1{
    text-align: center;
}
#container{
    display: flex;
    flex-direction: column;
}

#gridContainer{
    width:960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.userOptions{
    display: flex;
    margin: 10px auto;
    gap: 50px;
}


.divRow{

    display:flex;
    flex-direction: row;
    flex:1;
    
}

.subDiv{
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color:black;
    flex:1;
   
}